.about {
    background: url("../images/dark-mosaic.png") no-repeat;
    background-size: cover;
    color: $white;
    min-height: 100px;
    padding: 20px 0 20px;
    text-align: center;
}
.about__title {
    margin-bottom: 20px;
    text-shadow: 0 0 5px red;
    font-size: 30px;
}
.about p {
    font-size: 17px;
}